  <!DOCTYPE html>
  <html lang="en">

    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="theme-color" content="#DB0000"/>

      <link rel="icon" href="./favicon.png">
      <link rel="manifest" href="./app.webmanifest">
      <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
      
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
      <title>Restaurant Apps</title>
    </head>

    <body>
      <skip-content tabindex="0"></skip-content>
      <header>
        <head-bar></head-bar>
      </header>
      <hero-bar></hero-bar>
      <main id="main-post" tabindex="0">
        <card-list></card-list>
      </main>

      <footer>
        <foot-bar></foot-bar>
      </footer>

  </body>
  </html>
